<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="shortcut icon" href="images/initials_icon.png" type="image/x-icon">
	<link rel="icon" href="/images/initials_icon.png" type="image/x-icon"> 
	<!-- ^^ replace with little icons ^^ -->
	<script src="https://use.fontawesome.com/7bb155b69d.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Muli:200,400|Merriweather" rel="stylesheet">

</head>
<body>
	<div class="container"></div>
	<script type="text/javascript" src="./js/app.js"></script>
</body>
</html>