$textColor: #222;
$accent: #00ADE7;
// $accent: #8B0004;
// $accent: #AA1202;
// $accent: #050085;

// $accentHover: lighten($accent,20);
$accentHover: darken($accent,10);
$h2Hover: $accent;
// $h2Hover: lighten($accent,30);
$lineColor: #ddd;


* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

*::selection {
	background: $accent;
	color: white;
}

html {
	font-size: 16px;
	color: $textColor;
	@media (max-width: 700px) {
		font-size: 12px;
	}
}

div {
	font-size: 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Muli', sans-serif;
}

h4,h5,h6,span,p,a,input,button {
	font-size: 1rem;
}
span,p,a,input,button {
	font-family: 'Merriweather', serif;
}

img {
	max-width: 100%;
}

p {
	line-height: 2;
	display: inline-block;
}


p + p {
	display: block;
}

i.fa {
	font-size: 2rem;
	padding: .5rem;
}

a {
	color: $accent;
	text-decoration: none;
	display: inline-block;
	cursor: pointer; // i have some links with no href
}

a:hover {
	// border-bottom: 1.5px solid $accent;
	color: $accentHover;
}

// a:visited {
// 	color: $accentHover;
// }

// a:visited:hover {
// 	border-bottom: 1.5px solid $accentHover;
// }

#container-full.transparent {
	opacity: 0;
	transition: 0s opacity;
}

#container-full {
	max-width: 750px;
	margin: 6rem auto 0;
	padding: 0 3rem;
	transition: 1s opacity ease;
	@media (max-width: 700px) {
		margin-top: 4rem;
		padding: 0 1rem;
	}
}

#banner {
	display: block;
	margin: 1.5rem auto;
	position: relative;
	cursor: pointer; 
	color: $accent;
	padding-bottom: 1rem;
	border-bottom: 2px solid $lineColor;

	&:hover {
		color: $accentHover;
	}

	&:hover #banner-text h2 {
		color: $h2Hover;
	}

	.img-wrapper {
		display: inline-block;
		padding: 1rem;
		width: 125px;
		@media (max-width: 700px) {
			display: none;
		} 
		img {
			border-radius: 50%;
		}
	}
	#banner-text {
	    display: inline-block;
	    vertical-align: top;
	    padding-top: 2%;	
	    margin-left: 1rem;    

	    h1,h2 {
	    	margin: 0;
	    }

		h1 {
		    font-size: 2.625rem;
		    font-weight: 400;
		    margin-bottom: .5rem;
		}
		h2 {
		    font-size: 1.625rem;
		    font-weight: 200;
		    color: lighten($accent,10);
		}
	}
}

#home-page {

}

#projects-page {
	.project {
		margin-top: 2rem;
		border-bottom: 2px solid $lineColor;
		padding-bottom: 1.5rem;
		
		&.project-right-image {
			@media (min-width: 700px) {
				.project-image {
					float: right;
				}
				.project-text {
					padding-left: 0;
					padding-right: 2rem;
				}
			}
		}

		.project-text {
		    display: inline-block;
		    width: 80%;
		    vertical-align: top;
		    padding-left: 2rem;

		    @media (max-width: 700px) {
		    	width: 100%;
		    	padding: 1rem;
		    }

		    .project-summary,a {
		    	font-size: .875rem;
		    	line-height: 1.75;
		    	margin-bottom: 0;
		    }
		}

		.project-image {
			width: 20%;
			display: inline-block;
			vertical-align: top;
			margin-top: 6rem;

			@media (max-width: 700px) {
				display: block;
				width: 104px;
				margin: 0 auto;
				float: none;
			}
		}
	}
}

#skills-page {
	.skill-group {
		margin-bottom: 3rem;
		.skill {
			margin-left: 3rem;
			border-bottom: 2px solid $lineColor;

			h4 {
				margin-bottom: 0;
			}

			p {
				margin: .25rem 0;
				color: lighten($textColor,40)
			}
		}
	}
}

#footer {
	margin-top: 3rem;
	.contact-icons {
		text-align: center;

		a {
			margin: 0 1rem;
		}
	}
}


